<hr>

<a *ngIf="!isFirstPost()" (click)="previousPost()" href="javascript:void(0)">&lt; Post Anterior</a> |
<a *ngIf="!isLastPost()" (click)="nextPost()" href="javascript:void(0)">Proximo Post &gt;</a>

<div *ngIf="isLoading">
    Caregando...
</div>

<div *ngIf="!isLoading">
    <h1>{{post?.title}}</h1>
    <p>{{post?.body}}</p>

    <h2>Comentários</h2>

    <app-add-comment (newCommentAdded)="addComment($event)"></app-add-comment>

    <div *ngFor="let comment of comments">
        {{comment.name}} ({{comment.email}})
        <p>{{comment.body}}</p>
        <hr>
    </div>
</div>
